services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  rate-limiter-service:
    build: .
    ports:
      - "8082:8082"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      TARGET_URL: http://host.docker.internal:8081
    depends_on:
      - redis
